* {
  list-style-type: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Navigation section start */

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-height: 72px;
  padding-left: 156px;
}

.header-navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-highlight {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.nav-list {
  display: flex;
  column-gap: 40px;
}

.contacts-list {
  display: flex;
  font-style: normal;
  column-gap: 24px;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 156px;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 0;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* Navigation section end */

/* Hero banner section start */

.hero-banner {
  background: #2e2f42;
  min-width: 1440px;
  min-height: 600px;
  margin: 0;
}

.hero-banner-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 48px;
}

.hero-banner-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}

.hero-banner-button:hover,
.hero-banner-button:focus {
  background-color: #404bbf;
}

/* Hero banner section  end */

/* Features section start */

.features-list {
  display: flex;
  margin: 120px 156px;
  column-gap: 24px;
  flex-basis: 1128px;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list-item-subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Features section end */

/* Team section start */

.team {
  background-color: #f4f4fd;
}

.team-list {
  padding-top: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-list-item-subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-list-item {
  background-color: #ffffff;
}

/* Team section end */

/* Portfolio section start */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  column-gap: 24px;
  row-gap: 48px;
  flex-basis: 1128px;
  padding-left: 156px;
  padding-right: 161px;
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-item {
}
.portfolio-list-item-subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Portfolio section end */

/* Fotter section start */

.footer {
  background: #2e2f42;
}

.footer-navigation-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 100px;
  padding-left: 156px;
}

.footer-highlight {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
  padding-left: 156px;
  max-width: 264px;
}

/* Footer section end */
